<% if @task.user.tasks.count.zero? %>
  <%= turbo_stream.update "task-list" do %>
    <% if request.referer&.include?('tasks') %>
      <div class="text-center p-8 bg-base-200 rounded-lg">
        <p class="text-base-content/70">No tasks found. <%= link_to "Create a new task", new_task_path, class: "link link-primary" %>.</p>
      </div>
    <% else %>
      <div class="text-center p-6 bg-base-200 rounded-lg">
        <p class="text-base-content/70">No tasks assigned yet. Add your first task above!</p>
      </div>
    <% end %>
  <% end %>
<% else %>
  <%= turbo_stream.remove dom_id(@task) %>
<% end %>

<%= turbo_stream.update "flash" do %>
  <%= render "layouts/flash_messages" %>
<% end %>
